<h2 class="display-2 my-3">Recipes</h2>

<div class="row">
  <div class="col">
    <filter-text [value]="filterText" (filterChange)="onFilterChange($event)"></filter-text>
  </div>
</div>

<div class="row">

  <div class="col-12 col-md-6 col-lg-4" *ngFor="let recipe of recipes">
    <div class="card my-3" [class.bg-warning]="filteredRecipes.includes(recipe)">
      <img class="card-img-top" [src]="recipe.imgUrl">
      <div class="card-body">
        <h4 class="card-title">{{ recipe.title }}</h4>
        <p class="card-text">{{ recipe.description }}</p>
        <a routerLink="/recipes/1" class="btn btn-primary">Details</a>
      </div>
    </div>
  </div>
</div>
