<h2 class="display-2 my-3">Recipes</h2>

<div class="row">

  <div class="col-12 col-md-6 col-lg-4">
    <div class="card my-3">
      <img class="card-img-top" src="http://www.mnhsz.com/storage/upload/2016/gulyas1.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Gulyásleves</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-4">
    <div class="card my-3">
      <img class="card-img-top" src="http://www.nosalty.hu/files/imagecache/recept/recept_kepek/dsc_0421.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Aranygaluska</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-4">
    <div class="card my-3">
      <img class="card-img-top" src="http://2.bp.blogspot.com/_5O-jypyl64M/TFJhfFqFYFI/AAAAAAAAD3o/SnHbicHMvM8/s1600/csusza.jpg"
        alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Túrós csusza</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-4">
    <div class="card my-3">
      <img class="card-img-top" src="http://www.nosalty.hu/files/imagecache/recept/recept_kepek/bajai-halaszle.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Halászlé</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>


</div>
