<h2 class="display-2 my-3">Gulyás soup</h2>

<div class="row">

  <div class="col-5">
    <img src="http://www.mnhsz.com/storage/upload/2016/gulyas1.jpg" class="img-fluid rounded d-block">
  </div>
  <div class="col-7">
    <p>Ingredients:</p>

    <ul>
      <li>1 kg pork</li>
      <li>0,5 kg onion</li>
      <li>salt</li>
      <li>pepper</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>Description:</p>
    <p>Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
      bla bla bla bla bla bla bla bla bla bla </p>
  </div>
</div>
