<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Recipes</a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
  </div>
</nav>


<div class="container">
  <recipe-list></recipe-list>
</div>




<div class="container">

  <h2 class="display-2 my-3">New recipe</h2>

  <form action="">

    <div class="form-group">
      <label for="name">Recipe name</label>
      <input type="text" class="form-control" id="name" placeholder="Recipe name" required>
      <div class="invalid-feedback">
        Please provide a recipe name!
      </div>
    </div>
    <div class="form-group">
      <label for="category">Category</label>
      <select class="form-control" id="category" required>
        <option>Soup</option>
        <option>Desert</option>
      </select>
    </div>
    <div class="form-group">
      <label for="ingredients">Ingredients</label>
      <textarea class="form-control" id="ingredients" rows="3" placeholder="- ingredient 1
    - ingredient 2" required></textarea>
      <div class="invalid-feedback">
        Please provide at least one ingredient!
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" rows="5" required></textarea>
      <div class="invalid-feedback">
        Please provide a description!
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
</div>





<div class="container">

  <h2 class="display-2 my-3">Gulyás soup</h2>

  <div class="row">

    <div class="col-5">
      <img src="http://www.mnhsz.com/storage/upload/2016/gulyas1.jpg" class="img-fluid rounded d-block">
    </div>
    <div class="col-7">
      <p>Ingredients:</p>

      <ul>
        <li>1 kg pork</li>
        <li>0,5 kg onion</li>
        <li>salt</li>
        <li>pepper</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>Description:</p>
      <p>Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
        bla bla bla bla bla bla bla bla bla bla bla </p>
    </div>
  </div>
</div>
